body {
    font-family: Arial, sans-serif;
      /* Añade más margen a los costados (por ejemplo, 20px) */
    background-color: #f6fff1;  
    /* Ancho máximo de la página */
    max-width: 1300px;
    /* Centrar el contenido horizontalmente */
    margin: 0 auto;
    /* Agregar margen superior e inferior */
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("fondddd.jpg");
    background-size: cover;
    background-position: center;
   
  }
  
.volver{
  align-items: center;

  margin-left: 550px;
}
  .cuadro1{
    padding: 20px;
  }
 .cuadro2{
  padding: 20px;
 }
 .cuadro3{
  padding: 20px;
 }
 .cuadro4{
  padding: 20px;
 }
.financiamiento div{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
  padding: 20px;
}
  header {
    text-align: center;
    background-color:rgba(142, 235, 181, 0.63);
    padding: 20px;
    margin-top: 10px;
  
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(175, 211, 191, 0.521);
    text-align: center;
    
    margin-top: 20px;
  }
  
  nav li {
    margin-top: 20px;
    display: inline-block;
    background-color:rgba(175, 211, 191, 0.521);
  }
  
  nav li a {
    display: block;
   
    text-decoration: none;
    color: #5c677d;
    font-family: "Times New Roman", serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav li a:hover {
    background-color: #5c677d;
    color: #fff;
  }
   main {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
   }

 
  .btn-home {
    align-content: center;
    display: inline-block;
  
    background-color: #5c677d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    transition: background-color 0.3s;
    margin-top: 60px;
  }
  
  .btn-home:hover {
    background-color: #333;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f7f3;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: block;
    
    text-decoration: none;
    color: #5c677d;
    font-family: "Times New Roman", serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav li a:hover {
    background-color: #5c677d;
    color: #fff;
  }
  
  main {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  h2 {
    color: #5c677d;
  }
  
  p {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #9e7b6a;
    font-weight: bold;
  }
  
  li a:hover {
    color: #5c677d;
  }
  
  footer {
    text-align: center;
    background-color: #e2f8aa;
    padding: 1px;
    position: sticky;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    height: 50px; 
    z-index: 1; 
  }

  body.cursos {
    background-image: url("https://img.freepik.com/foto-gratis/persona-recortada-irreconocible-que-trabaja-telefono-inteligente-manos-apoyadas-escritorio_1098-20481.jpg?w=740&t=st=1690327931~exp=1690328531~hmac=b5a5749617f166d7b62c544a871b48e1be8edffcd4f0bfda80bd65ac37650a89");
    background-size: cover;
    background-position: center;
  }
  
  body.cursos p {
    font-size: 20px;
    color: #0c0e0c;
    line-height: 1.5;
    background-color: #e2f8aa;
    padding: 1px; 
  }
  
  
  body.cursos ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  li {
   border-radius: 5px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  li p {
    margin-bottom: 5px;
  }
  
  li:not(:last-child) {
    margin-right: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #9e7b6a;
    font-weight: bold;
  }
  
  li a:hover {
    color: #5c677d;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f7f3;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    padding: 5px;
  }
  
  nav li a {
    display: block;
   
    text-decoration: none;
    color: #5c677d;
    font-family: "Times New Roman", serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav li a:hover {
    background-color: #5c677d;
    color: #fff;
    padding: 5px;
  }
  
  main {
    text-align: center;
  }
  
  main h2 {
    color: #5c677d; /* Mismo color que los enlaces */
  }
  
  main p {
    color: #333; /* Color de texto regular */
  }
  
  main ul {
    list-style-type: none;
    padding: 0;
  }
  
  main li {
    margin-bottom: 10px;
  }
  
  main li a {
    text-decoration: none;
    color: #9e7b6a; /* Nuevo color de enlace que combina con la paleta de colores */
    font-weight: bold;
  }
  
  main li a:hover {
    color: #5c677d; /* Nuevo color de enlace al pasar el cursor */
  }

  .mision div {
    width: 100%;
    padding: 10px;
  }
.mision {
      display: flex;
      align-items: center;
      margin-left:70px;
    }
 .mujeres,.emprendedoras {
      width: 400px;
      height: auto;
      margin: 10px;
      margin-left:210px;
    }

    section#formulario {
      background-color: #f9f7f3;
      padding: 20px;
      border-radius: 8px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      color: #5c677d;
    }
    
    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 15px;
    }
    
    input[type="submit"] {
      background-color: #5c677d;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 12px 20px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    
    input[type="submit"]:hover {
      background-color: #405570;
    }
/* Estilos base para todos los dispositivos */
body {
  font-size: 16px;
}

/* Media query para pantallas pequeñas (celulares) */
@media (max-width: 767px) {
  /* Ajustar tamaño de fuente */
  body {
    font-size: 14px;
  }
  
  /* Ajustar tamaño de imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Ajustar el espaciado */
  .container {
    padding: 10px;
  }
  
  /* Reorganizar elementos o ajustar su tamaño si es necesario */
}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 768px) {
  /* Ajustar tamaño de fuente */
  body {
    font-size: 18px;
  }
  
  /* Ajustar tamaño de imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Ajustar el espaciado */
  .container {
    padding: 20px;
  }
  
  /* Reorganizar elementos o ajustar su tamaño si es necesario */
}

/* Media query para pantallas grandes (computadoras) */
@media (min-width: 1024px) {
  /* Ajustar tamaño de fuente */
  body {
    font-size: 20px;
  }
  
  /* Ajustar tamaño de imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Ajustar el espaciado */
  .container {
    padding: 30px;
  }
  
  
}
